:root {
    --black: #000;
    --dark-purple: #560A86;
    --pink: #F148FB;
    --light-purple: #7122FA;
    --cyan: #83EEFF;
    --dark-blue: #00218A;
    --medium-blue: #535EEB;
    --background-color: #0B283D;
}

body {
    background-color: var(--background-color);
    background-image: url('back-img.png');
}

.sidebar {
    list-style-type: none;
    position: fixed; 
    top: 0; 
    text-align: center;
    top : 0;
    height: 100%; 
    background-color: var(--dark-blue); 
    padding: 20px; 
    overflow: hidden; 
}

#topbar li {
    list-style-type: none;
    display: inline-block; 

}

#topbar a {
    list-style-type: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block; 
    text-align: center;
    color: var(--cyan); 
    padding: 12px; 
    font-size: 18px; 
    margin: 10px;
    border-style: solid;
    border-color: var(--cyan);
  }
  
#topbar a:hover {
background-color: var(--medium-blue); /* Change the background color of the links on hover */
color: #000; /* Change the text color of the links on hover */
}

#topbar a.active {
background-color: #4CAF50; /* Change the background color of the active link */
color: white; /* Change the text color of the active link */
}

button {
display: inline-block;
padding: 12px 24px; /* Add some padding to the button */
border-radius: 4px; /* Give the button rounded corners */
font-size: 18px; /* Increase the font size of the button text */
text-align: center; /* Center the button text */
text-decoration: none; /* Remove the underline from the button text */
cursor: pointer; /* Change the cursor to a pointer when hovering over the button */
transition: background-color 0.3s ease; /* Add a transition effect to the background color */
}
button:hover {
background-color: var(--cyan);
}
  
.shuffle{
background-color: var(--light-purple);
}
.upload{
background-color: var(--pink);
}

.img-box {
display:inline-block;
margin-left:auto;margin-right:auto;
text-align:left;
}

@media only screen and (min-width: 769px) {
.sidebar{
    width:50%;
    float:right;
}